.container {
  margin: 0 auto;
  width: 100%;
  max-width: r(400);
  padding: 0 r(16);

  @include breakpoint(S) {
    max-width: r(480);
  }

  @include breakpoint(M) {
    max-width: r(960);
    padding: 0 r(32);
  }
}
