$team-grid__breakpoint: M;

.team-grid {
  @include breakpoint($team-grid__breakpoint) {
    display: flex;
  }
}

.team-grid__column {
  flex: 1 0 50%;

  @include breakpoint($team-grid__breakpoint) {
    padding-left: r(16);
  }

  &:first-child {
    margin-bottom: r(32);

    @include breakpoint($team-grid__breakpoint) {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: r(16);
    }
  }
}
