*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: $ff-grandstander;

  // Normalize font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
